.mainButton {
    background-color: var(--primary);
    padding: 1rem;
    font-family: inherit;
    border: none;
    color: whitesmoke;
    border-radius: 5px;
}

.mainButton:hover {
    background-color: var(--secondary);
    cursor: pointer;
    outline: none;
}

.mainButton:focus {
    outline: 1px solid whitesmoke;
}

.mainButton a {
    color: var(--tertiary);
    text-decoration: none;
}

.image {
    position: relative;
    height: 100%;
}
